{% extends "base.html" %}

{% block content %}
    <h2>New Post</h2>
    <form class="row g-3" action="" method="post">
        {% csrf_token %}
    
        <div class="row mb-3">
            <label class="form-label">{{ form.title.label }}</label>
            <input type="text" name="{{ form.title.name }}" class="form-control">
        </div>

        <div class="row mb-3">
            <label class="form-label">{{ form.author.label }}</label>
            <select name="{{ form.author.name }}" class="form-select">
                {% for user in form.author.field.queryset %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="row mb-3">
            <label class="form-label">{{ form.body.label }}</label>
            <textarea name="{{ form.body.name }}" class="form-control"></textarea>
        </div>

        <div class="row mb-3">
            <input type="submit" value="Save" class="btn btn-success">
        </div>

    </form>
{% endblock content %}
